.bodyContainerContactUs {
  margin-left: 3.1rem;
}

.BannerContainerContactUs {
  /* background-color: #0c447f; */
  background-image: url("https://cdn.pixabay.com/photo/2016/08/03/09/04/universe-1566161_1280.jpg");
  height: 70vh;
}

.ContactHeading {
  margin-left: 3rem;
  text-align: left;
  margin-top: 1rem;
}
.SubContent {
  width: 90%;
  /* border: 1px solid green; */
  margin: auto;
  margin-top: 2rem;
}
.ContactAddress {
  width: 100%;
  display: flex;
  /* border: 1px solid rebeccapurple; */
  justify-content: space-between;
  /* margin: auto; */
  margin-top: 2rem;
}
.Contact {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
/* .Contact div {
  border: 1px solid blue;
} */
.Contact div p {
  margin-top: 1rem;
}

.ContactImg {
  width: 100%;
  /* border: 2px solid goldenrod; */
  margin-left: 10px;
}

.Location {
  /* margin-top: 1rem; */
  display: inline-block;
  position: relative;
  /* border: 1px solid greenyellow; */
}

.MapImgContainer::before {
  /* border: solid black; */
  border-width: 30px 30px 0px 30px;
  display: inline-block;
  /* padding: 3px; */
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  z-index: -1; /* Puts the shape behind the image */
  /* width: 50%; */
  /* height: 90%; */
  margin-top: 20px;
  padding: 200px 200px;
  /* transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); */
  /* background-color: var(--blue); Set your desired background color */
  
}

.ImgCont {
  margin: auto;
}
.ImgCont img {
  /* width: 30%;
  position: absolute;
  top: 0;
  border: 1px solid green; */
  display: block;
  max-width: 40%;

}
/* .ImgArrowLocation {
  width: 80%;
  background-color: var(--blue);
  border: 1px solid green;
  border-radius: 0 50px 50px 0;
  
} */

/* ContactUsForm */
.ContactUsForm {
  /* border: 1px solid green; */
  margin-top: 3rem;
}
.form {
  width: 90%;
  border: 2px solid gray;
  margin: auto;
  border-radius: 30px;
}

.formHeading {
  text-align: center;
  color: white;
  background: var(--blue);
  border-radius: 30px 30px 0px 0px;
  padding: 10px;
  /* margin-top: 10px; */
}

.TopInputCont {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}
.TopInputCont input {
  width: 100%;
  padding: 8px 0 8px 20px;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
}
.leftInput {
  border-radius: 20px 0 0 20px;
}
.rightInput {
  border-radius: 0px 20px 20px 0px;
}
.FullInput {
  border-radius: 20px;
}
.TopInputCont textarea {
  width: 100%;
  padding: 8px 0 8px 20px;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
}
.TopInputCont .FullInputBottom {
  border-radius: 0px 0px 30px 30px;
  padding-bottom: 50px;
}
.SubmitBtn button {
  display: block;
  background-color: var(--blue);
  color: white;
  margin: auto;
  padding: 5px 150px 5px 150px;
  border-radius: 0 0px 30px 30px;
}

@media only screen and (max-width: 767px) {
  .bodyContainerContactUs {
    margin-left: 0;
  }
  .ContactAddress {
    flex-direction: column;
  }
  .Contact {
    gap: 20px;
    flex-direction: column;
  }
}
