.bodyContainerContactUs {
  margin-left: 3.1rem;
}

.BannerContainerContactUs {
  /* background-color: #0c447f; */
  background-image: url("https://cdn.pixabay.com/photo/2016/08/03/09/04/universe-1566161_1280.jpg");
  height: 80vh;
}

.ContactHeading {
  margin-left: 3rem;
  text-align: left;
  margin-top: 1rem;
}
.SubContent {
  width: 90%;
  border: 1px solid green;
  margin: auto;
  margin-top: 2rem;
}
.ContactAddress {
  width: 100%;
  display: flex;
  border: 1px solid rebeccapurple;
  justify-content: space-between;
  /* margin: auto; */
  margin-top: 2rem;
}
.Contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.Contact div {
  /* margin-top: 1rem; */
  border: 1px solid blue;
}
.Contact div p {
  margin-top: 1rem;
}

.ContactImg {
  width: 100%;
  /* border: 2px solid goldenrod; */
  margin-left: 10px;
}

.Location {
  margin-top: 2rem;
  border: 1px solid greenyellow;
}
.arrow-pointer {
  width: 250px;
  height: 50px;
  background: #32557f;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #32557f;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }
}
/* .MapImgContainer {
  display: flex;
  width: 60%;
  margin: auto;
  border: 1px solid black;
  align-items: center;
  background-color: #131049;
} */
.MapImgContainer img {
  width: 40%;
}

/* ContactUsForm */
.ContactUsForm {
  /* border: 1px solid green; */
  margin-top: 1rem;
}
.form {
  width: 90%;
  border: 2px solid gray;
  margin: auto;
  border-radius: 30px;
}

.formHeading {
  text-align: center;
  color: white;
  background: var(--blue);
  border-radius: 30px 30px 0px 0px;
  padding: 10px;
  /* margin-top: 10px; */
}

.ImgCont {
  width: 70%;
  margin: auto;
}
.ImgCont img{
  margin-left: 30px;
  background-color: var(--blue);
  border: 1px solid green;
}

.TopInputCont {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}
.TopInputCont input {
  width: 100%;
  padding: 8px 0 8px 20px;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
}
.leftInput {
  border-radius: 20px 0 0 20px;
}
.rightInput {
  border-radius: 0px 20px 20px 0px;
}
.FullInput {
  border-radius: 20px;
}
.TopInputCont textarea {
  width: 100%;
  padding: 8px 0 8px 20px;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
}
.TopInputCont .FullInputBottom {
  border-radius: 0px 0px 30px 30px;
  padding-bottom: 50px;
}
.SubmitBtn button {
  display: block;
  background-color: var(--blue);
  color: white;
  margin: auto;
  padding: 5px 150px 5px 150px;
  border-radius: 0 0px 30px 30px;
}

@media only screen and (max-width: 767px) {
  .bodyContainerContactUs {
    margin-left: 0;
  }
  .ContactAddress {
    flex-direction: column;
  }
  .Contact {
    gap: 20px;
    flex-direction: column;
  }
}
